---
import Layout from "../../layouts/Layout.astro";
import { Save, X } from "@lucide/astro";
import { LANGUAGES } from "../../types";
import { createSnippet } from "../../service/snippet.service";

let error: string | null = null;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();

    const titulo = data.get("title")?.toString().trim();
    const lenguaje = data.get("lenguaje")?.toString().trim();
    const tagsRaw = data.get("tags")?.toString().trim() || "";
    const codigo = data.get("codigo")?.toString().trim();
    const descripcion = data.get("descripcion")?.toString().trim() || "";

    // Validaciones
    if (!titulo || titulo.length < 3) {
      error = "El título debe tener al menos 3 caracteres";
    } else if (!lenguaje) {
      error = "Debes seleccionar un lenguaje";
    } else if (!codigo || codigo.length < 10) {
      error = "El código debe tener al menos 10 caracteres";
    } else {
      // "react, hooks" → ["react","hooks"]
      const tagsArray = tagsRaw
        .split(",")
        .map((t) => t.trim())
        .filter((t) => t !== "");

      createSnippet({
        titulo,
        descripcion,
        lenguaje,
        codigo,
        tags: tagsArray,
      });

      return Astro.redirect("/snippets");
    }
  } catch (err) {
    console.error("Error al guardar:", err);
    error = "Ocurrió un error al guardar el snippet.";
  }
}
---

<Layout title="Nuevo snippet">
  <main class="min-h-screen">
    <form method="POST" class="flex h-screen">
      <div
        class="w-115 text-codeshelf-text border-r-2 border-codeshelf-border px-6 py-4 flex flex-col"
      >
        <div class="flex justify-between items-center">
          <h2 class="text-2xl">New Snippet</h2>

          <a href="/snippets">
            <X size={25} />
          </a>
        </div>

        {
          error && (
            <div class="mt-4 bg-red-500/10 border border-red-500 text-red-500 px-4 py-3 rounded-lg text-sm">
              {error}
            </div>
          )
        }

        <div class="py-6 flex-1 overflow-y-auto">
          <div class="flex flex-col mb-3">
            <label class="mb-1 text-sm font-semibold"> Title * </label>

            <input
              type="text"
              name="title"
              required
              minlength="3"
              placeholder="React useState Hook"
              class="bg-codeshelf-panel border border-codeshelf-border rounded-xl py-3 px-4"
            />
          </div>

          <div class="flex flex-col mb-3">
            <label class="mb-1 text-sm font-semibold"> Language * </label>

            <select
              name="lenguaje"
              required
              class="bg-codeshelf-panel border border-codeshelf-border rounded-xl py-3 px-4"
            >
              <option value="" disabled selected>
                Seleccioná un lenguaje
              </option>

              {
                LANGUAGES.map((lang) => (
                  <option value={lang.label}>{lang.label}</option>
                ))
              }
            </select>
          </div>

          <div class="flex flex-col mb-3">
            <label class="mb-1 text-sm font-semibold"> Tags </label>

            <input
              type="text"
              name="tags"
              placeholder="react, hooks, state"
              class="bg-codeshelf-panel border border-codeshelf-border rounded-xl py-3 px-4"
            />
          </div>

          <div class="flex flex-col mb-6">
            <label class="mb-1 text-sm font-semibold"> Description </label>

            <textarea
              name="descripcion"
              rows="3"
              placeholder="Descripción breve del snippet..."
              class="bg-codeshelf-panel border border-codeshelf-border rounded-xl py-3 px-4"
            ></textarea>
          </div>

          <button
            type="submit"
            class="bg-codeshelf-cyan text-black w-full rounded-md flex items-center justify-center py-3 gap-2"
          >
            <Save size={20} />
            Save Snippet
          </button>
        </div>
      </div>

      <div class="w-full flex flex-col">
        <h4 class="py-4 px-6 border-b border-codeshelf-border">Code Editor</h4>

        <div class="px-6 py-6 flex-1">
          <textarea
            name="codigo"
            required
            minlength="10"
            placeholder="// Paste your code here..."
            class="w-full h-full bg-codeshelf-panel border border-codeshelf-border rounded-xl py-3 px-4 font-mono"
          ></textarea>
        </div>
      </div>
    </form>
  </main>
</Layout>
