---
import { LENGUAJES_FILTRO } from "../../data/snippets";
import Layout from "../../layouts/Layout.astro";
import { Save, X } from "@lucide/astro";
---

<Layout title="Nuevo snippet">
  <main class="min-h-screen flex">
    <div
      class="w-115 text-codeshelf-text border-r-2 border-codeshelf-border px-6 py-4"
    >
      <div class="flex justify-between items-center">
        <h2 class="text-codeshelf-text text-2xl">New Snippet</h2>

        <a href="/snippets">
          <X class="text-codeshelf-muted" size={25} />
        </a>
      </div>
      <div class="py-6">
        <form action="">
          <div class="flex flex-col mb-3">
            <label for="title" class="mb-1.5">Title</label>
            <input
              type="text"
              name="title"
              placeholder="e.g., React useState Hook"
              class="w-full bg-codeshelf-panel border border-codeshelf-border text-codeshelf-text text-sm rounded-xl py-3 px-4 focus:ring-2 focus:ring-codeshelf-cyan/20 focus:border-codeshelf-cyan outline-none transition-all placeholder:text-codeshelf-muted placeholder:font-semibold"
            />
          </div>
          <div class="flex flex-col mb-3">
            <label for="title" class="mb-1.5">Language</label>
            <select
              id="language-select"
              name="lenguaje"
              class="w-full bg-[#0D0D0F] border border-white/10 text-white text-sm rounded-xl py-3 px-4 appearance-none outline-none transition-all duration-300 focus:border-codeshelf-cyan focus:ring-2 focus:ring-codeshelf-cyan/10 cursor-pointer hover:border-white/20"
            >
              <option value="" disabled selected
                >Seleccioná un lenguaje...</option
              >
              {
                LENGUAJES_FILTRO.map((lang) => (
                  <option
                    value={lang.toLowerCase()}
                    class="bg-[#1A1A1D] text-white"
                  >
                    {lang}
                  </option>
                ))
              }
            </select>
          </div>
          <div class="flex flex-col mb-6">
            <label for="tags" class="mb-1.5">Tags (comma separated)</label>
            <input
              type="text"
              name="tags"
              placeholder="e.g., react, hooks, state"
              class="w-full bg-codeshelf-panel border border-codeshelf-border text-codeshelf-text text-sm rounded-xl py-3 px-4 focus:ring-2 focus:ring-codeshelf-cyan/20 focus:border-codeshelf-cyan outline-none transition-all placeholder:text-codeshelf-muted placeholder:font-semibold"
            />
          </div>

          <button
            class="bg-codeshelf-cyan text-black w-full rounded-md flex items-center justify-center py-3.5 gap-2 cursor-pointer hover:scale-102 ring-1 ring-codeshelf-cyan shadow-codeshelf-cyan shadow-[0_0_12px_rgba(0,240,255,0.8)] transition-all duration-300"
          >
            <Save size={20} />
            <span>Save Snippet</span>
          </button>
        </form>
      </div>
    </div>
    <div class="w-full">
      <h4
        class="text-codeshelf-text text-xl py-4 px-6 border-b-2 border-codeshelf-border"
      >
        Code Editor
      </h4>
      <form action="" class="px-6 py-6">
        <textarea
          name=""
          id=""
          placeholder="// Paste your code here..."
          class="w-full h-screen bg-codeshelf-panel border border-codeshelf-border text-codeshelf-text text-sm rounded-xl py-3 px-4 focus:ring-2 focus:ring-codeshelf-cyan/20 focus:border-codeshelf-cyan outline-none transition-all placeholder:text-codeshelf-muted placeholder:font-semibold resize-none"
        ></textarea>
      </form>
    </div>
  </main>
</Layout>
